body{
    padding: 0;
    margin: 0;
}

.pr-maximize{
    width : 80%;
    border: .1rem solid black;
    border-radius: .2rem;
    background-color: #cfc3c7;
    outline: none;
    min-height: 43rem;
    margin: auto;
    margin-top: .2rem;
}

#pr-toolbar-mx{
    width: 81%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: .2rem;
    padding-left: .2rem;
    box-sizing: border-box;
    border: .1rem solid black;
    border-radius: .2rem;
    background-color: #cfc3c7;
    margin: auto;
    font-size: .7rem;
    margin-top: .3rem;
}

